{% extends "base.html" %}
{% block content %}
            <div id="content">
                <div id="error-image">
                    <img src="/img/aromatherapy_candles.jpg" alt="Aromatherapy Candles"><br>
                    <a href="www.freeimages.co.uk">image: www.freeimages.co.uk</a>
                </div>

                <div id="error-content">
                    <h2>Error 404</h2>
                    <p>
                        We cannot find the page you are looking for.  Try
                        relaxing and go <a href="/">home</a> to find some great
                        Yoga classes.
                    </p>
                </div>
            </div>
{% endblock %}
