{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Contribute</h2>
                <p>
                    Come and be a part of this great event by joining our team.
                </p>
                <a href="/be-a-vendor"><h3>Be a Vendor</h3></a>
                <a href="/vendor-contact-us">Contact Us</a>

                <a href="/volunteer"><h3>Volunteer</h3></a>
                <a href="/volunteer-contact-us">Contact Us</a>
            </div>
{% endblock %}
