{% extends "base.html" %}
{% block content %}
            <div id="slideshow">
                <ul id="slideshow-list">
                    <li id="slide1"><img src="/img/group.jpg" alt="Group of yogies">
                        <span>Building a Yoga community for everyone.</span>
                    </li>
                    <li id="slide2" class="hidden"><img src="/img/ycc-logo.png" alt="YCC">
                        <span>
                            All proceeds are donated to the Ogden YCC.
                        </span>
                    </li>
                    <li id="slide3" class="hidden"><img src="/img/poster.png" alt="Yoga Fest Flier">
                        <span>
                            Join us for a great time.
                        </span>
                    </li>
                </ul>
            </div>

            <div id="content">
                <h2>About Us</h2>
                <p>
                    The Ogden Yoga Festival started in 2011 to help raise money
                    for those who have been a victim of domestic violence by
                    donating 100% of the proceeds to the Ogden
                    <a href="http://www.ycchope.org" target="_blank">YCC</a>.
                    Teachers from all over the area donate their time and
                    talents to contribute to this festival and bring many
                    flavors of Yoga and healthy living for everyone to
                    experience.
                </p>

                <h2>Our Goal</h2>
                <p>
                    To build awareness about yoga in Ogden and the surrounding
                    community, and raise funds for the
                    <a href="http://www.ycchope.org" target="_blank"> Family Crisis Center</a>
                    in Ogden.
                </p>

                <h2>Sponsors</h2>
                <div class="sponsor-logos">
                    <a href="http://www.weber.edu" alt="Weber State University" target="_blank">
                        <img src="/img/weber-state.png">
                    </a>
                    <a href="http://www.pdcflow.com" alt="PDC Flow Logo" target="_blank">
                        <img src="/img/pdc-flow-logo.png">
                    </a>
                    <a href="http://frontogden.com" alt="The Front Climbing Gym Logo" target="_blank">
                        <img src="/img/the-front-logo.jpg">
                    </a>
                    <a href="http://timelessyogaogden.com/" alt="Timeless Yoga" target="_blank">
                        <img src="/img/timeless-yoga.png">
                    </a>
                </div>
            </div>
{% endblock %}
