{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Location</h2>
                <p>
                    The festival will be held in building WI at location C3.
                    Click the map for a downloadable PDF version.
                </p>
                <a href="http://www.weber.edu/wsuimages/WeberStateMap/ogdenmap-aug2014.pdf"
                   target="_blank">
                    <img src="/img/wsu-campus-map.jpg" alt="WSU Campus Map">
                </a>
                <p>
                    View the <a href="https://www.google.com/maps/place/Wildcat+Center,+Weber+State+University,+3848+Harrison+Blvd,+Ogden,+UT+84408/@41.1914976,-111.9442587,17z/data=!4m2!3m1!1s0x875308af28879795:0x0cff32703a09ed27"
                                target="_blank">Google Maps</a> version.
                </p>
            </div>
{% endblock %}
