{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Location</h2>
                <p>
                    The Davinci Academy<br>
                    Co-hosted by The Yoga Loft at the Front Climbing Gym<br>
                    2033 Grant Ave, Ogden UT
                </p>
                <p>
                    View on <a href="https://www.google.com/maps/place/DaVinci+Academy+of+Science+and+the+Arts/@41.230302,-111.9755247,17z/data=!4m5!3m4!1s0x87530ec24f18db81:0x27f29cc58d2c4ab6!8m2!3d41.230302!4d-111.973336"
                                target="_blank">Google Maps</a>.
                </p>
            </div>
{% endblock %}
