{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Lodging</h2>
                <p>
                    We know that some people love Yoga so much that they will
                    travel far and wide to get it.  Here are some places to
                    stay that are only minutes away from the festival.
                </p>

                <h3>Days Inn</h3>
                3306 Washington Blvd, Washington Blvd @ Riverdale Rd<br>
                Ogden, UT 84401 US<br>
                Phone: (801) 399-5671<br>
                <a href="http://www.daysinn.com/hotels/utah/ogden/days-inn-ogden/hotel-overview?cid=local"
                   target="_blank">Learn more</a><br><br>

                <h3>Ben Lomond Suites</h3>
                2510 Washington Blvd<br>
                Ogden, UT 84401<br>
                Phone: (801) 627-1900<br>
                <a href="https://www.choicehotels.com/utah/ogden/ascend-hotels/ut162?source=gglocaloz1"
                   target="_blank">Learn more</a><br><br>

                <h3>Hilton Garden Inn</h3>
                2271 Washington Blvd<br>
                Ogden, UT 84401<br>
                Phone: (801) 399-2000<br>
                <a href="http://hiltongardeninn3.hilton.com/en/hotels/utah/hilton-garden-inn-ogden-ut-OGDWBGI/index.html"
                   target="_blank">Learn more</a><br><br>

                Or view local hotels using <a href="https://www.google.com/maps/search/hotels/@41.1907978,-111.9431098,13z/data=!3m1!4b1!4m8!2m7!3m6!1shotels!2sWildcat+Center,+Weber+State+University,+3848+Harrison+Blvd,+Ogden,+UT+84408!3s0x875308af28879795:0xcff32703a09ed27!4m2!1d-111.9431098!2d41.1907978">
                Google</a>
            </div>
{% endblock %}
