{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Tickets - TBD</h2>

                <!--
                <div class="ticket-box">
                    <p id="ticket-note">
                        Tickets are purchased through
                        <a href="http://www.weber.edu" target="_blank">Weber State
                        University</a>.  You will be redirected to their web site
                        to complete the transaction.
                    </p>
                    <form method="post"
                          action="https://secure.touchnet.com/C20249_ustores/web/store_cat.jsp?STOREID=43&CATID=160">
                        <button>Purchase</button>
                    </form>
                </div>
                -->
            </div>
{% endblock %}
