{% extends "base.html" %}
{% block content %}
            <div id="content">
                <h2>Tickets</h2>

                <h3>Prepayment for tickets coming soon.</h3>
                <!--
                <p id="ticket-note">
                    Tickets are purchased through
                    <a href="http://www.weber.edu" target="_blank">
                    Weber State University</a>.  You will be redirected to their
                    web site to complete the transaction.
                </p>

                <div class="ticket-box">
                    <p>{{day-1}}</p>
                    <span id="price">$20</span><br>
                    <form method="post" action="http://www.weber.edu">
                        <button>Purchase</button>
                    </form>
                </div>

                <div class="ticket-box">
                    <p>{{day-2}}</p>
                    <span id="price">$30</span><br>
                    <form method="post" action="http://www.weber.edu">
                        <button>Purchase</button>
                    </form>
                </div>

                <div class="ticket-box">
                    <p>2-Day Pass</p>
                    <span id="price">$45</span><br>
                    <form method="post" action="http://www.weber.edu">
                        <button>Purchase</button>
                    </form>
                </div>
            -->
            </div>
{% endblock %}
